---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];
// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

type Props = {
  title: string;
  description?: string;
  pubDate?: Date;
  updatedDate?: Date;
  heroImage?: any;
};
const { title, description, pubDate, updatedDate, heroImage } =
  Astro.props as Props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: auto;
        padding: 6em 1em;
      }

      /* move global resets to sep file */
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
        padding: 0;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      .recipe-wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: start;
        gap: 2rem;
        /* max-width: 900px; */
        margin: 0 auto;
        padding: 0 75px;
      }
      /* //// */
      .postMiniPro {
        position: sticky;
        top: 75px;
        align-self: start;
        /* height: fit-content; */
        height: 35%;
      }
      .mProFrame {
        height: 100%;
        width: 100%;
        border: 10px solid var(--bg-1);
        background: #333 url(https://via.placeholder.com/220x400) no-repeat
          center;
        background-size: cover;
        margin: 0 auto;
      }
      /* //// */
      .postArea {
        /* background: var(--bg-1); */
        border-radius: 10px;
        display: grid;
        /* grid-template-columns: 1fr 3fr; */
      }
      .postcolor {
        text-align: justify;
        /* padding: 2rem; */
        font: 400 16px/1.5rem var(--font-sans);
        letter-spacing: 0.02rem;

        b {
          color: var(--accent-1);
        }
        i {
          color: var(--accent-2);
        }
      }

      /* ////// */
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        /* text-align: center; */
        line-height: 1;
      }
      /* .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      } */
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <!-- <div class="hero-image">
					{heroImage && <Image src={heroImage} alt="" />} 
				</div> -->
        <div class="prose">
          <div class="title">
            <!-- {
              pubDate && (
                <div class="date">
                  <FormattedDate date={pubDate} />
                  {updatedDate && (
                    <div class="last-updated-on">
                      Last updated on <FormattedDate date={updatedDate} />
                    </div>
                  )}
                </div>
              )
            } -->
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
        <div class="recipe-wrapper">
          <!-- ingredients -->
          <section class="postMiniPro">
            <div class="borderTop"></div>
            <div class="mProFrame">ingredients</div>
            <div class="borderBot"></div>
          </section>

          <!-- recipe card instructions -->
          <section class="postArea">
            <div class="borderTop"></div>
            <div><h3>RECIPE TIME:</h3></div>
            <div id="pid_260">
              <div class="postcolor">
                <ul>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li>
                    Vitae ultricies leo integer malesuada nunc vel risus commodo
                    viverra.
                  </li>
                </ul>
              </div>
            </div>
            <div class="borderBot"></div>
          </section>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
